<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1"/>

        <style>
            {% if style %}
                {% include "../../public/css/" + style + ".css" %}
            {% else %}
                {% include "../../public/css/critical.css" %}
            {% endif %}
        </style>
    </head>

    <body>
        {{ content | safe }}
    </body>
</html>