<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <style>
            {% if style %}
                {% include "css/" + style + ".css" %}
            {% else %}
                {% include "css/critical.css" %}
            {% endif %}
        </style>
    </head>

    <body>

        {{ content | safe }}


        {% if script %}
            {% set js %}
            {% include script %}
            {% endset %}
        {% endif %}

        {% set fontloading %}
        {% include "public/scripts/font-loading.js" %}
        {% endset %}

        <script>

            {{ fontloading | safe }}

            {% if script %}
                {{ js | safe }}
            {% endif %}
        </script>
    </body>
</html>