<!-- JSON-LD Schema.org -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "name": "Test Title | JSON-LD Schema.org",
        "image": "/json-ld.png",
        "description": "Test Description | JSON-LD Schema.org — This text came from JSON-LD formatted Schema",
        "url": "{{url}}"
    }
</script>