---
layout: "base.njk"
style: "home"
---

<header class="site-head">
    <a href="/" class="nav-link">
            <span>get out of my <code>
            <span>&lt;head&gt;</span></code>
            </span>
    </a>
</header>

<main>
    {{ content | safe }}
</main>

<footer>

    {% if previousLink or nextLink %}
    <nav>
        {% if previousLink %}
        <a class="previous nav-link" href="{{previousLink}}">
            <span class="icon"></span>
            {{previousText}}</a>
        {% endif %}

        {% if nextLink %}
        <a class="next nav-link" href="{{nextLink}}">{{nextText}}
            <span class="icon"></span></a>
        {% endif %}
    </nav>
    {% endif %}

</footer>