---
layout: "base.njk"
---
<header>
    <h1>Social Preview Tester</code>
</h1>

<p>Use this site to test out different combinations of meta tags for enabling previews on social media sites and instant messenger apps.</p>
</header>
<form class="social-preview-url-maker">

<p>Choose which meta tags you'd like to include. You can mix and match.</p>

{% for item in tagData.tags %}
    <input id="{{item.name}}" type="checkbox" name="{{item.name}}" value="{{item.name}}" id="{{item.name}}-check">
    <label class="checkbox" for="{{item.name}}">
        {{item.title}}
    </label>
{% endfor %}

<p class="oembed-type-note">Select an oEmbed type:</p>

<input id="rich" type="radio" name="oembed-type" value="rich" id="rich-check">
<label class="radio radio-group-top" for="rich">Rich</label>

<input id="video" type="radio" name="oembed-type" value="video" id="video-check">
<label class="radio radio-group-middle" for="video">Video</label>

<input id="photo" type="radio" name="oembed-type" value="photo" id="photo-check">
<label class="radio radio-group-middle" for="photo">Photo</label>

<input id="link" type="radio" name="oembed-type" value="link" id="link-check">
<label class="radio radio-group-bottom" for="link">Link</label>
<figure>
    <figcaption>Copy this link to test your social config.</figcaption>
    {% dynamicUrl tagData.tags %}
</figure>
</form>

{{ content | safe }}