<!DOCTYPE html>
<html lang="en" {% if renderData.microdata === "true" %}{{schemaMicrodataHtmlTagData | safe}}{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <title>Preview Test | Title Tag </title>

        {%- set imageUrl %}{{renderData.imageUrl}}{% endset-%}
        {%- set title %}{{ renderData.title }}{% endset -%}
        {%- set description %}{{ renderData.description }}{% endset -%}
        {%- set url %}{{ renderData.url }}{% endset -%}
        {%- set oembed_type %}{{ renderData.oembed_type }}{% endset -%}

        {% for tag in tagData.types %}
            {% if renderData[tag] === "true" %}
                {% if tag === "oembed_xml" or tag === "oembed_json" %}
                    {% include tag + "_" + oembed_type + ".njk" %}
                {% else %}
                    {% include tag + ".njk" %}
                {% endif %}
            {% endif %}
        {% endfor %}

        <style>
            {% if style %}
                {% include "../../public/css/" + style + ".css" %}
            {% else %}
                {% include "../../public/css/critical.css" %}
            {% endif %}
        </style>
    </head>
    <body>
        <article>
            <div>

                <h1>{{title}}</h1>

                {%- set code %}
                {% for tag in tagData.types %}
                    {% if renderData[tag] === "true" %}
                        {%- set tags %}
                        {% if tag === "oembed_xml" or tag === "oembed_json" %}
                            {% include tag + "_" + oembed_type + ".njk" %}
                        {% else %}
                            {% include tag + ".njk" %}
                        {% endif %}
                        {% endset -%}
                        {{ tags | safe }}
                    {% endif %}
                {% endfor %}
                {% endset -%}

            </div>

            <div>

                <figure>
                    <figcaption>social tags used on this page</figcaption>
                    {% trimwhitespace %}
                    {% highlight "html" %}{{ code | safe }}{% endhighlight %}
                    {% endtrimwhitespace %}
                </figure>

                {{ content | safe }}

            </div>

        </article>
    </body>
</html>