.site-head {
    padding:0;
    font-size: get-size('300');

    text-align:left;

    @include media-query('md') {
        text-align:right;
    }

    a {

        @extend .wrapper;        
        grid-column:1 / -1;
        text-decoration:none;
        background:var(--shade);
        font-family: var(--mono);
        padding:get-size('300') 0;
        width:100%;


        
        & > span {
            grid-column: left-margin / aside-gap;
            padding-left:get-size('200');
        }


    }



    code {
        color:var(--text);
        background:var(--highlight);
    }
}