input[type="checkbox"], input[type="radio"] {
    position: absolute;
    left:-9999px;
    opacity:0;
    pointer-events: none;
}

.checkbox, .radio {
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border:solid 2px var(--shade);
    border-radius:4px;
    padding:get-size('300');
    cursor: pointer;
    font-family:var(--mono);

    &:after {
        content:"✔";
        height:24px;
        width:24px;
        border:solid 2px var(--text);
        border-radius:4px;
        box-shadow:0 2px var(--shade), inset 0 2px var(--shade);
        color:transparent;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        background:var(--glare);
    }
}

.radio {
    &:after {
        content:"";
        border-radius:9rem;
    }
}

input[type="checkbox"]:checked + .checkbox, input[type=radio]:checked + .radio {

    &:after {
    color:var(--text);
    }

}

input[type=radio]:checked + .radio:after {
    background:var(--text);
    box-shadow:0 2px var(--shade), inset 0 0 0 2px var(--base);
}

.radio-group-top {
    border-radius:4px 4px 0 0;
    border-bottom:0;
}

.radio-group-middle {
    margin-top:0;
    border-radius:0;
    border-bottom:0;
}

.radio-group-bottom {
    border-radius:0 0 4px 4px;
    border-bottom:solid 2px var(--shade);
    margin-top:0;
}