figure > .dynamic-url {

    display:block;
    padding:get-size('400');
    border:solid 2px var(--text);
    border-radius:4px;


    span {
        display:none;
    }

}

#metadescription:checked ~ figure > .dynamic-url > .metadescription-url {
    display:inline;
}

#metadescription:checked ~ input[type="checkbox"]:checked ~ figure > .dynamic-url > .metadescription-url + .dash {
    display:inline;
}

#microdata:checked ~ figure > .dynamic-url > .microdata-url {
    display:inline;
}

#microdata:checked ~ input[type="checkbox"]:checked ~ figure > .dynamic-url > .microdata-url + .dash {
    display:inline;
}

#oembed_xml:checked ~ figure > .dynamic-url > .oembed_xml-url {
    display:inline;
}

#oembed_xml:checked ~ input[type="checkbox"]:checked ~ figure > .dynamic-url > .oembed_xml-url + .dash {
    display:inline;
}

#oembed_json:checked ~ figure > .dynamic-url > .oembed_json-url {
    display:inline;
}

#oembed_json:checked ~ input[type="checkbox"]:checked ~ figure > .dynamic-url > .oembed_json-url + .dash {
    display:inline;
}

#jsonld:checked ~ figure > .dynamic-url > .jsonld-url {
    display:inline;
}

#jsonld:checked ~ input[type="checkbox"]:checked ~ figure > .dynamic-url > .jsonld-url + .dash {
    display:inline;
}

#opengraph:checked ~ figure > .dynamic-url > .opengraph-url {
    display:inline;
}

#opengraph:checked ~ input[type="checkbox"]:checked ~ figure > .dynamic-url > .opengraph-url + .dash {
    display:inline;
}

#twitter:checked ~ figure > .dynamic-url > .twitter-url {
    display:inline;
}


.social-preview-url-maker {
    .radio {
        display:none;
    }

    .oembed-type-note {
        display:none;
        margin-left:auto;
        margin-right: auto;
    }

    // Show Radio Buttons if oembed options is selected
    #oembed_json:checked ~ .radio, #oembed_xml:checked ~ .radio {
        display:flex; 
    }

    #oembed_json:checked ~ .oembed-type-note, #oembed_xml:checked ~ .oembed-type-note {
        display:initial; 
    }

}

#rich:checked ~ figure > .dynamic-url > .rich-url {
    display:inline;
}

#video:checked ~ figure > .dynamic-url > .video-url {
    display:inline;
}

#photo:checked ~ figure > .dynamic-url > .photo-url {
    display:inline;
}

#link:checked ~ figure > .dynamic-url > .link-url {
    display:inline;
}

#oembed_json:not(:checked) ~ #oembed_xml:not(:checked) ~ figure, #oembed_xml:not(:checked) ~ #oembed_json:not(:checked) ~ figure {

    & > .dynamic-url {
    & > .link-url, & > .photo-url, & > .video-url, & > .rich-url {
        display:none;
    }
    }
}