figure > .dynamic-url {

    display:block;
    padding:get-size('400');
    border:solid 2px var(--text);
    border-radius:4px;


    span {
        display:none;
    }

}

#metadescription:checked ~ figure > .dynamic-url > .metadescription-url {
    display:inline;
}

#metadescription:checked ~ input[type="checkbox"]:checked ~ figure > .dynamic-url > .metadescription-url + .dash {
    display:inline;
}

#microdata:checked ~ figure > .dynamic-url > .microdata-url {
    display:inline;
}

#microdata:checked ~ input[type="checkbox"]:checked ~ figure > .dynamic-url > .microdata-url + .dash {
    display:inline;
}

#oembed_xml:checked ~ figure > .dynamic-url > .oembedxml-url {
    display:inline;
}

#oembed_xml:checked ~ input[type="checkbox"]:checked ~ figure > .dynamic-url > .oembed_xml-url + .dash {
    display:inline;
}

#oembed_json_rich:checked ~ figure > .dynamic-url > .oembed_json_rich-url {
    display:inline;
}

#oembed_json_rich:checked ~ input[type="checkbox"]:checked ~ figure > .dynamic-url > .oembed_json_rich-url + .dash {
    display:inline;
}

#oembed_json_photo:checked ~ figure > .dynamic-url > .oembed_json_photo-url {
    display:inline;
}

#oembed_json_photo:checked ~ input[type="checkbox"]:checked ~ figure > .dynamic-url > .oembed_json_photo-url + .dash {
    display:inline;
}

#oembed_json_link:checked ~ figure > .dynamic-url > .oembed_json_link-url {
    display:inline;
}

#oembed_json_link:checked ~ input[type="checkbox"]:checked ~ figure > .dynamic-url > .oembed_json_link-url + .dash {
    display:inline;
}

#jsonld:checked ~ figure > .dynamic-url > .jsonld-url {
    display:inline;
}

#jsonld:checked ~ input[type="checkbox"]:checked ~ figure > .dynamic-url > .jsonld-url + .dash {
    display:inline;
}

#opengraph:checked ~ figure > .dynamic-url > .opengraph-url {
    display:inline;
}

#opengraph:checked ~ input[type="checkbox"]:checked ~ figure > .dynamic-url > .opengraph-url + .dash {
    display:inline;
}

#twitter:checked ~ figure > .dynamic-url > .twitter-url {
    display:inline;
}

// #twitter:checked ~ input[type="checkbox"]:checked ~ figure > .dynamic-url > .twitter-url + .dash {
//     display:inline;
// }

