.site-head {
    background:var(--highlight);
    color:var(--glare);
    font-family:var(--sans);
    padding:0;

    a {
        display:block;
        padding:get-size('300') get-size('200');
        text-decoration:none;
        &:hover {
            background:var(--highlight-glare);
        }
    }

    code {
        color:var(--highlight);
    }
}