table {
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    overflow-x: auto;

    font-size:get-size('200');
    font-family:var(--mono);
    border-collapse: collapse;
    text-align:center;


    td {
        min-width:get-size('800');
        width:get-size('800');
        border:solid 1px var(--glare);
        background:var(--shade);
        
        &.site-name {
            position: absolute;
        }

        &.yes, &.no, &.unknown, &.but {
            color:var(--code-bg);
        }

        &.yes {
            background:#7ec699;
        }

        &.no {
            background:#e2777a;
        }

        &.unknown {
            background:#ccc;
        }

        &.empty {
            border:0;
            background:transparent;
        }

        &:hover {
            span {
                opacity:1;
            }
        }

        
    }
}