table {
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    overflow-y: hidden;
    overflow-x:scroll;

    font-size:get-size('200');
    font-family:var(--mono);
    border-collapse: collapse;
    text-align:center;

    td {
        width:get-size('800');
        border:solid 1px var(--shade);
        color:var(--code-text);
        background:var(--code-bg);

        &.yes {
            background:#7ec699;
        }

        &.no {
            background:#e2777a;
        }

        &.unknown {
            background:#ccc;
        }

        &.but {
            background:#f8c555;
        }

        &.empty {
            border:0;
            background:transparent;
        }

        span {
            position:absolute;
            background:get-color('base');
            padding:get-size('200');
            pointer-events:none;
            opacity:0;
        }

        &:hover {
            span {
                opacity:1;
            }
        }

        
    }
}