/* HEADINGS */
article {
    h1, h2, h3, h4, aside {
        margin-top:get-size('900');
        position: relative;
    }
}

h1, h2, h3, h4 {
     line-height: 1.2;
     font-family:var(--sans);
}


h1, h1 > code > span, h2, h3 {
    filter:url("#xs");
}

h1, h2 {
    font-size:get-size('900');
        color:var(--heading);
}

h3 {
    font-size:get-size('700')
}

h4 {
    font-size:get-size('500');
}

/* QUOTES */

blockquote {
    font-style:italic;
    padding-left:get-size('300');
    border-left:2px solid get-color('highlight');
    &:before, &:after {
        content:""
    }
}

/* LISTS */

ol, ul {
    list-style:none;
    padding-left:get-size('600');
    li {
        position:relative;
        font-family:var(--serif);
        font-weight:normal;
        &:before {
            position: relative;
            float:left;
            margin-left:calc(#{get-size('600')} * -1); 
        }
    }
}

ul {
    li {
        &:before {
            content:'▸';
            color:get-color('highlight');
        }
    }
}

ol {
    counter-reset: x;
    li {
        
        &:before {
            counter-increment: x;  
            content: counter(x);
            border-radius:1rem;
            width:get-size('400');
            height:get-size('400');
            font-size:get-size('300');
            margin-top:0.3rem;
            background:get-color('shade');
            display:flex;
            justify-content:center;
            align-items: center;
            @include apply-utility('font', 'mono')
        }
    }
}


dl {
    font-size:get-size('400');

    dt {
    font-style: italic;
    margin-top:1rem;
    }

    dd {
        margin-top:get-size('200')
    }
}


nav > ul {
    padding-left:0;
}

nav > ul > li {
    font-family:var(--sans);
    font-weight:bold;
    &:before  {
        content:""
    }
}


/* SUPERSCRIPT */

sup {
    background:get-color("shade");
    color:get-color('text');
    display:inline-flex;
    justify-content: center;
    align-items: center;
    font-size:get-size('200');
    height:get-size('300');
    width:get-size('300');
    border-radius:1rem;
    padding-top:0.05em;
    font-style:normal;
    @extend .font-mono;
}


/* LINKS and ANCHORS */

a {
    color:inherit;
    text-decoration: underline;
    text-decoration-style:dotted;
    text-decoration-color:var(--highlight);
    &:hover {
       text-decoration-style:solid;
    }
}

.anchor {
    font-size:1em;
    font-weight:100;
    text-decoration:none;
    outline:none;
    opacity:0.5;
}

h1, h2, h3, h4 {
    &:hover > .anchor {
        opacity:1;
    }
}

/* ARTICLE */

aside {
    border:solid 2px var(--shade);
    padding:get-size('200');

    & > *:first-child {
        margin:0;
    }
}

article > div {
    padding:get-size('600') get-size('300');
}

article > div:nth-child(even) {
    background:var(--shade);

    code {
        background:var(--base);
    }

     pre > code { // This is ugly.
    background:transparent;
    }

    aside {
        border-color:var(--base);
    }
}