pre {
    background:var(--code-bg);
    color:var(--code-text);
    font-size:14px;
    padding:1rem;
    border-radius:4px;
    overflow-y:hidden;
    overflow-x:scroll;
    margin:0;
}

code {
        border-radius:4px;
        background:var(--shade);
        font-size:0.8em;
        -webkit-box-decoration-break:clone;
        box-decoration-break:clone;
        padding:.1em .2em;
        font-family:var(--mono);
}


figure {
    background:var(--code-bg);
    color:var(--code-text);
    border-radius:4px;
    font-family:var(--mono);
}

figcaption {
    color:var(--code-text);
    background:var(--code-header);
    padding:get-size('200') get-size('400');
    font-size:get-size('300');
    border-radius:4px 4px 0 0;

    display:flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-size:get-size('200');
        margin-right:0;
    }
}

pre {
    padding:get-size('400');
    font-size:get-size('400');
    white-space:pre;
    overflow-x:scroll;

    code {
        background:transparent;
        color:var(--code-text);
    }
}

figure.small pre {
        font-size:get-size('200');
}


.token {

    color:#ccc;

    &.tag, &.attr-name {
    color:#e2777a;
    }

    &.attr-value {
        color:#7ec699;
    }

    &.punctuation {
    color:#ccc;
    }

    &.punctuation {
        color:#ccc;
    }

    &.selector, &.rule {
        color:#cc99cd;
    }

    &.function {
        color:#f08d49;
    }

    &.url {
        color:#67cdcc;
    }

    &.property {
        color:#f8c555;
    }

    &.string {
        color:#7ec699;
    }
}