:root {
    --glare:#fff;
    --base:#f6f5f2;
    --shade:#e7e4dd;
    --text:#333;

    --code-bg:#333;
    --code-text:#fff;
    --code-header:#444;
    
    --spark:#D66853;
    --highlight:#446;
    --highlight-glare:#5A5A87;

    @media (prefers-color-scheme: dark) {

    --text:#e1e1e1;
    --glare:#292929;
    --base:#1d1d1d;
    --shade:#121212;
    
    }
}

body {
    background:var(--base);
}