* {
    max-width:35rem;
    margin:1rem auto 0;
}

html, 
body,
header,
article,
section,
footer,
div {
    max-width:none;
    margin:0;
}

span, pre, figcaption {
    margin-top:0;
}

body {
    padding:get-size('700') get-size('300') get-size('800');
}
