* {
    max-width:35rem;
}

html, 
body,
header,
article,
section,
footer,
main,
div,
form {
    max-width:none;
    margin:0;
}

span, pre, figcaption, br, code, pre {
    margin-top:0;
}

body {
    padding:0;
}

aside > *, form > *, div > *, article > * ol > *, ul > *, header > * {
    margin-left: auto;
    margin-right: auto;
}

aside > * + *, form > * + *, ul > * + *, ol > * + *, article > * + *, article > div > * + *, header > * + * {
    margin-top:get-size('600');
    margin-bottom:0;
}