:root {
    color:var(--text);
    --mono: "Menlo", "Consolas", "Monaco", "Liberation Mono", "Lucida Console", monospace;
    --serif:Georgia, Iowan Old Style, Apple Garamond, Times New Roman, Droid Serif, Times, Source Serif Pro, serif;
    --sans: helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
     font-family:var(--serif);
     line-height: 1.7;
}

