---
permalink: "./previews.json"
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---
[
{%- for tag in tagData.tags %}
  {
      "title":"{{ tag.title | safe }}",
      "imgName":"{{ tag.title | slug }}"
  }{% if loop.last == false %},{% endif -%}
{% endfor %}
]