---
layout: page.njk
templateEngineOverride: njk
permalink: "/link-preview-tester/"
style: "social-preview-form"
script: "public/scripts/link-preview-tester.js"
---

<header>
    <h1><span class="highlight">Link preview meta&nbsp;tag tester</span></h1>
    <p><span class="highlight">Use this tool to test out different combinations of meta tags for enabling <strong>link previews</strong> on social media sites and
        instant messenger apps.</span></p>
    <p><a class="highlight-link" href="/link-preview-meta-tags">Learn more about link preview meta tags</a></p>
    <p><a class="highlight-link" href="/link-preview-meta-tags/#which-meta-tags-work-on-which-apps">See which meta tags work for which apps</a></p>
</header>
<main>
<section>
<form>

    <figure>
        <figcaption>
            <p><span class="step-number">1</span></p>
            <p>Select which meta tags you'd like to test. You can mix and match any combination.</p>
        </figcaption>

        <div class="form-step">
    {% for item in tagData %}
    <label class="checkbox">
        <input type="checkbox"
               name="{{item.name}}"
               id="{{item.name}}">
        {{item.title}}
        <b aria-hidden="true">✔</b>
    </label>
    {% endfor %}
    </div>

    </figure>

    <figure>

        <figcaption>
        <p><span class="step-number">2</span></p>
        <p>Copy this url</p>
        </figcaption>

        <div><textarea onclick="this.select()" id="url" rows="5" readonly></textarea></div>

    </figure>

    <figure>
        <figcaption>
            <p><span class="step-number">3</span></p>
            <p>Paste the url into the app or website you'd like to test</p>
        </figcaption>

        <div class="form-step">
            Visually check what information the link preview is displaying. It should look something like this:
        </div>

    </figure>

</form>
</section>
</main>