---
description:
layout: test-base.njk
templateEngineOverride: njk
pagination:
    data: tagData.combinations
    size: 1
    alias: test
permalink: "/tests/{{ test.slug }}/"
tag: test
style: test
renderData:
  title: "Preview Test for {{test.text}}"
  description: "Preview Test | {{test.text}}"
  url: "/tests/{{ test.slug }}/"
  metadescription: "{{test.metadescription}}"
  jsonld: "{{test.jsonld}}"
  microdata: "{{test.microdata}}"
  oembed_json: "{{test.oembed_json}}"
  oembed_xml: "{{test.oembed_xml}}"
  opengraph: "{{test.opengraph}}"
  opengraph_pointer: "{{test.opengraph_pointer}}"
  twitter: "{{test.twitter}}"
  oembed_type: "{{test.oembedType}}"
---