---
description:
layout: test-base.njk
templateEngineOverride: njk
pagination:
    data: tagData.combinations
    size: 1
    alias: test
permalink: "/tests/{{ test.slug }}/"
tag: test
style: test
renderData:
  title: "Preview Test for {{test.text}}"
  description: "Preview Test | {{test.text}}"
  url: "/tests/{{ test.slug }}/"
  metadescription: "{{test.metadescription}}"
  jsonld: "{{test.jsonld}}"
  microdata: "{{test.microdata}}"
  oembed_json_rich: "{{test.oembed_json_rich}}"
  oembed_json_photo: "{{test.oembed_json_photo}}"
  oembed_json_link: "{{test.oembed_json_link}}"
  oembed_xml: "{{test.oembed_xml}}"
  opengraph: "{{test.opengraph}}"
  twitter: "{{test.twitter}}"
---