/**
 * BASE SIZE
 * All calculations are based on this. It’s recommended that
 * you keep it at 1rem because that is the root font size. You
 * can set it to whatever you like and whatever unit you like.
 */
$gorko-base-size: 1rem;

/**
 * SIZE SCALE
 * This is a Perfect Fourth scale that powers all the utilities that
 * it is relevant for (font-size, margin, padding). All items are
 * calcuated off the base size, so change that and cascade across
 * your whole project.
 */
$gorko-size-scale: (
  '200': $gorko-base-size * 0.56,
  '300': $gorko-base-size * 0.75,
  '400': $gorko-base-size,
  '500': $gorko-base-size * 1.33,
  '600': $gorko-base-size * 1.77,
  '700': $gorko-base-size * 2.36,
  '800': $gorko-base-size * 3.15,
  '900': $gorko-base-size * 4.2,
  '1000': $gorko-base-size * 5.6
);

/**
 * COLORS
 * Colors are shared between backgrounds and text by default. 
 * You can also use them to power borders, fills or shadows, for example.
 */
$gorko-colors: (
  'text':var(--text),
  'base':var(--base),
  'shade':var(--shade),
  'glare':var(--glare),
  'highlight':var(--highlight)
);

/**
 * CORE CONFIG
 * This powers everything from utility class generation to breakpoints
 * to enabling/disabling pre-built components/utilities.
 */
$gorko-config: (
  'bg': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': 'background',
  ),
  'color': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': 'color',
  ),
  'set': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': '--set',
  ),
  'font': (
    'items': (
        'mono': "Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace",
        'base': 'Georgia, serif'
      ),
    'output': 'standard',
    'property': 'font-family',
  ),
  'leading': (
    'items': (
      'loose': 1.7,
      'tight': 1.3
    ),
    'output': 'standard',
    'property': 'line-height',
  ),
  // 'text': (
  //   'items': $gorko-size-scale,
  //   'output': 'standard',
  //   'property': 'font-size',
  // ),
  'align': (
    'items': (
      'left':'left',
      'right':'right',
      'center':'center'
    ),
    'output': 'standard',
    'property': 'text-align',
  ),
  'breakpoints': (
    'md': '(min-width: 37em)',
    'lg': '(min-width: 62em)',
  ),
);

